$header: #0c73fe;
$footer: #0c131d;

header {
  width: 100%;
  background-color: $header;
  height: 60px;
  color: white;
  padding: 1rem;
}

footer {
  width: 100%;
  background-color: $footer;
  height: 50px;
}
