* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;

  main {
    margin-left: 300px;

    & > button {
      margin: 2rem auto;
      display: block;
      font-size: 15px;
      padding-inline: 2.5rem;
    }
  }

  aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 1rem;

      li {
        display: flex;
        align-items: center;
      }
    }
  }
}
